# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# C extensions
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Virtual environments
venv/
env/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Site-packages accidentally added
bot/Lib/
